<%= form_for([@post, @post.comments.build]) do |f| %>
  <div class="form_group">
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter, class: "form-control"%>
  </div>
  <div class="form_group">
    <%= f.label :body %><br>
    <%= f.text_area :body, class: "form-control"%>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-secondary btn-sm" %>
  </div>
<% end %>
